* {
    box-sizing: border-box;
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #131419;
    overflow-x: hidden;
}


/* Headings */
h1, h2, h3 {
    text-align: center; 
    color: violet; 
} 
/* End of Headings */


/* Input/Button Section */
input, button {
    display: flex; 
    justify-content: center; 
    margin: auto; 
    margin-top: 20px; 
    margin-bottom: 20px; 
} 
/* End Input/Button Section */


/* Magic 8 Ball */ 
.outer-circle {
    height: 450px; 
    width: 450px; 
    border-radius: 50%; 
    background-color: black; 
    margin: auto; 
    margin-bottom: 80px; 
    position: relative; 
} 

.inner-circle {
    height: 250px; 
    width: 250px; 
    border-radius: 50%; 
    background-color: white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: absolute; 
    top: 100px; 
    left: 100px; 
    z-index: 1; 
} 

#eight {
    font-size: 150px; 
} 

#answer {
    color: blue; 
    font-size: 20px; 
} 
/* End of Magic 8 Ball */ 


/* Shake Effect */ 
.shake-effect {
    animation: shake 0.6s ease-in-out;
} 

@keyframes shake {
    0%{transform: translate(1px, 1px) rotate(1deg);}
    15%{transform: translate(-3px, -1px) rotate(3deg);}
    30%{transform: translate(-1px, -2px) rotate(-2deg);}
    45%{transform: translate(1px, 3px) rotate(0deg);}
    60%{transform: translate(-1px, -2px) rotate(-3deg);}
    75%{transform: translate(-1px, -1px) rotate(-1deg);}
    90%{transform: translate(1px, 2px) rotate(2deg);}
    100%{transform: translate(-1px, -2px) rotate(0deg);}
} 
/* End of Shake Effect */ 


/* Stars Background */ 
.container {
    position: relative; 
    margin-bottom: 50px; 
} 

.star-bg i {
    position: absolute; 
    background: #fff; 
    border-radius: 50%; 
    box-shadow: 0 0 10px white,
                0 0 20px white,
                0 0 30px white,
                0 0 40px white,
                0 0 50px white; 
    animation: stars 2s linear infinite; 
} 
@keyframes stars {
    0% {
        opacity: 0; 
    }
    10% {
        opacity: 1; 
    }
    90% {
        opacity: 1; 
    }
    100% {
        opacity: 0; 
    }
} 
/* End of Satrs Background */ 